@{
    ViewData["Title"] = "About me";
}
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <hr></hr>
    <p><a href="https://linkedin.com/in/vadim-zolotilov">www.linkedin.com/in/vadim-zolotilov</a></p>
    <p><a href="https://github.com/vzrostov">www.github.com/vzrostov</a></p>
</div>
